.titulo {
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
    font-weight: 200;
}

.subtitulo {
    font-family: 'Courier New', Courier, monospace;
}

.paragrafo {
    font-family: 'Courier New', Courier, monospace;
}

.destaque {
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
}

#box{
    width: 50px ;
    height: 50px;
    background-color: cyan;
    border-radius: 5px 5px 5px 0px ;
}