body {
    margin: 0;
    background-color: black;
    font-family: monospace;
}

/* Começo do Cabeçalho */

.header {
    border-bottom: 3px solid aqua;
}

.container {
    display: flex;
    margin: auto;
    width: 80%;
}

.header .container {
    justify-content: space-between;
}

.navBar .aqui{
    font-weight: bolder;
}

.titulo {
    font-size: 36px;
    color: aqua;
    width: fit-content;
}

.navBar {
    font-size: 18px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    color: white;
    width: 400px;
    align-items: center;
}

.navBar .aqui{
    font-weight: bolder;
}

.navBar a{
    text-decoration: none;
    color: white;
}

/* Fim do Cabeçalho */

/* Começo do Banner - Home */

.banner {
    background-image: url("imgs/bg-jelly-fish-para-home.png");
    color: white;
    height: 500px;
    display: flex;
}

.banner .container p span {
    font-weight: bolder;
}

.banner .container {
    font-size: 38px;
    justify-content: center;
}

.banner .container p{
    width: 20%;
}

/* Fim do Banner - Home */

/* Começo do Banner - Login */

.card{
    background-color: beige;
    height: 360px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color:rgb(0, 0, 75);
    border-radius: 7px;
}

.card h1{
    font-size: 30px;
}

.card h4{
    font-size: 18px;
    margin-bottom: 10px;
}

.card input{
    border: 2px solid rgb(0, 0, 75);
    border-radius: 3px;
    padding: 10px;
}

.card button{
    background-color: rgb(0, 0, 75);
    color: white;
    margin-top: 25px;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 4px;
    font-family: monospace;
}


/* Fim do Banner - Login */

/* Começo do Social */

.social{
    background-color: white;
    display: flex;
}

.social .container .boxes{
    display: flex;
}

.social .container .boxes .box{
    margin: 40px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.social .container .boxes .box img{
    width: 200px;
}

.social .container .boxes .box h4{
    font-size: 22px;
    margin-bottom: 10px;
}

.social .container .boxes .box p{
    font-size: 15px;
}

/* Fim do Social */

/* Começo do Footer */

.footer{
    background-color: aqua;
    height: 150px;
    color: white;
    display: flex;
    font-size: 18px;
    font-weight: bold;
}

.footer .container{
    justify-content: center;
}